<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>All listings</title>
</head>

<body>
    <h1>Marketplace listing</h1>

    <ul>
        <% foundListings.forEach((listing)=>{%>
            <li>
                <a href="/listings/<%= listing._id %>"><h2><%= listing.title %></h2></a>
                <p><%= listing.description %></p>
                <p><%= listing.price %> BHD</p>
                <img src="<%= listing.image %>" class="Listing-img" alt="Image of <%= listing.title %>"/>
            </li>
            <%})%>
    </ul>
</body>

</html>