<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
        <%= foundListings.title %>
    </title>
</head>

<body>
    <h2>
        <%= foundListings.title %>
    </h2>
    <p>
        <%= foundListings.description %>
    </p>
    <p>Seller :<%= foundListings.seller.username %>
    </p>
    <p><strong>
            <%= foundListings.price %> BHD
        </strong></p>
    <img src="<%= foundListings.image %>" class="listing-img" alt="Image of <%= foundListings.title %>" />

    <% if (foundListings.seller._id.equals(user._id)) { %>
        <div class="action">
            <form action="/listings/<%= foundListings._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
            <a href="/listings/<%= foundListings._id %>/edit">
                <button id="edit-button">Edit</button>
            </a>
        </div>
        <% } %>
            <h3>Leave a comment</h3>
            <form action="/listings/<%= foundListings._id %>/comments" method="POST">
                <textarea name="content" id="content" maxlength="10"></textarea>
                <button type="submit">Post comment</button>
            </form>
            <h3>Comments</h3>
            <ul>
                <% foundListings.comments.forEach((comment) =>{%>
                    <li>
                        <%=comment.content%> - <%=comment.author.username%>
                    </li>
                <%})%>
            </ul>
            <a href="/listings/">Show the listing</a>
</body>

</html>